<header>
    <app-nav></app-nav>
</header>


<main>
    <h2>Kontakt os</h2>
    <p>Der er mange tilgængelige udgaver af Lorem Ipsum, men de fleste har gennemgået forandringer, når nogen har tilføjet humor eller tilfældige ord, som på ingen måde ser ægte ud.</p>

    <section>
        <form>
            <input type="text" name="navn" id="navn" placeholder="Dit navn...">
            <input type="text" name="mail" id="mail" placeholder="Din email...">
            <textarea name="besked" id="besked" cols="30" rows="10" placeholder="Din besked.."></textarea>
            <input id="btn" type="submit" value="Send">
        </form>
        <section>
            <span><b>Adresse:</b> Øster Uttrup Vej 1, 9000 Aalborg</span>
            <span><b>Telefon:</b> +45 25 26 95 40</span>
            <figure><img src="../../../assets/img/map.png" alt=""></figure>
        </section>
    </section>
</main>

<app-footer></app-footer>
